<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="bankMapper">
  
  <insert id="openAcc" parameterType="com.kh.bank.model.vo.Bank">
   INSERT
     INTO
          TB_BANK
   VALUES
          (
          #{name}
        , #{id}
        , #{phone}
        , #{email}
        , #{address}
        , #{type}
          )
  </insert>	     
  </mapper>